<!DOCTYPE html>
<html>

<head>
  <title>Reboot Server</title>
  <style>
    body {
      font-family: sans-serif;
      height: 100vh;
      margin: 0;
    }

    button {
      border: none;
      background-color: transparent;
      color: inherit;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 500;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      cursor: pointer;
      user-select: none;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1.5;
    }

    html,
    body {
      overflow-y: hidden;
    }

    .relative {
      position: relative;
    }

    .flex {
      display: flex;
    }

    .min-h-full {
      min-height: 100%;
    }

    .items-start {
      align-items: flex-start;
    }

    .justify-center {
      justify-content: center;
    }

    .overflow-y-hidden {
      overflow-y: hidden;
    }

    .bg-gray-50 {
      background-color: #f9fafb;
    }

    .dark\:bg-neutral-800 {
      background-color: #262626;
    }

    .inline-block {
      display: inline-block;
    }

    .rounded {
      border-radius: 0.25rem;
    }

    .bg-amber-500 {
      background-color: #f59e0b;
    }

    .px-3 {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    .py-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .text-sm {
      font-size: 0.875rem;
    }

    .font-medium {
      font-weight: 500;
    }

    .text-white {
      color: #fff;
    }

    .bg-red-500 {
      background-color: #ef4444;
    }

    .bg-emerald-500 {
      background-color: #10b981;
    }

    .m-8 {
      margin: 2rem;
    }

    .bg-blue-600 {
      background-color: #2563eb;
    }

    .hover\:bg-blue-700:hover {
      background-color: #1d4ed8;
    }

    .active\:bg-blue-900:active {
      background-color: #1e3a8a;
    }

    .px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .py-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .rounded-lg {
      border-radius: 0.5rem;
    }

    .mx-4 {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .drop-shadow-lg {
      box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    }

    .text-lg {
      font-size: 1.125rem;
    }

    .text-left {
      text-align: left;
    }

    .text-neutral-700 {
      color: #404040;
    }

    .dark\:text-neutral-100 {
      color: #f5f5f5;
    }

    .p-12 {
      padding: 3rem;
    }

    .max-w-[48em] {
      max-width: 48em;
    }

    .w-full {
      width: 100%;
    }

    .flex-col {
      flex-direction: column;
    }

    .justify-between {
      justify-content: space-between;
    }

    .items-center {
      align-items: center;
    }

    .bg-gray-800 {
      background-color: #1f2937;
    }

    .bg-black {
      background-color: black;
    }

    .text-gray-100 {
      color: #f3f4f6;
    }

    .w-med {
      max-width: 40em;
    }

    .font-light {
      font-weight: 300;
    }
  </style>
</head>

<body>
  <div class="relative flex min-h-full items-start justify-center overflow-y-hidden bg-black">
    <div class="p-12 max-w-[48em] w-full flex flex-col justify-between items-center">
      <p class="text-lg text-left text-gray-100">Valheim Server</p>
      <button id="rebootBtn"
        class="m-8 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 text-white px-4 py-2 rounded-lg mx-4 drop-shadow-lg">Reboot
        Server</button>
      <p id="serverRunning" style="display: none;"
        class="inline-block rounded bg-emerald-500 px-3 py-1 text-sm font-medium text-white">Running</p>
      <p id="serverNotRunning" style="display: none;"
        class="inline-block rounded bg-red-500 px-3 py-1 text-sm font-medium text-white">Down</p>
      <p id="rebootingServer" style="display: none;"
        class="inline-block rounded bg-amber-500 px-3 py-1 text-sm font-medium text-white">Rebooting</p>

        <p id="players-online" class="py-1"></p>
        <p id="join-code" class="py-1"></p>
        <p id="last-login" class="py-1"></p>

        <p id="logs" class="py-2 w-med font-light">
    </div>
  </div>

  <script>
    function hideAllStatus() {
      document.getElementById('serverRunning').style.display = 'none';
      document.getElementById('serverNotRunning').style.display = 'none';
      document.getElementById('rebootingServer').style.display = 'none';
      document.getElementById('players-online').textContent = '';
      document.getElementById('join-code').textContent = '';
      document.getElementById('last-login').textContent = '';
      document.getElementById('logs').textContent = '';
    }

    async function fetchLogs() {
      const logs = await (fetch('/logs').then(x => x.json()))

      document.getElementById('players-online').textContent = '' + logs.players_online + ' player(s) currently online'
      document.getElementById('join-code').textContent = 'join code: ' + logs.join_code
      document.getElementById('last-login').textContent = logs.last_login ? 'last login ' + logs.last_login.trunc() + ' hours ago' : '';

      document.getElementById('logs').textContent = logs.all.map(x => x.raw).join('<br>\n')
    }

    async function checkServerStatus() {
      try {
        const response = await fetch('/status');
        hideAllStatus();
        if (response.status === 200) {
          document.getElementById('serverRunning').style.display = 'block';

          await fetchLogs()
        } else {
          document.getElementById('serverNotRunning').style.display = 'block';
        }
      } catch (error) {
        hideAllStatus();
        document.getElementById('serverNotRunning').style.display = 'block';
      }
    }

    document.getElementById('rebootBtn').addEventListener('click', async () => {
      const response = await fetch('/reboot', { method: 'POST' });
      hideAllStatus();
      document.getElementById('rebootingServer').style.display = 'block';
    });

    setInterval(checkServerStatus, 3000);
  </script>
</body>

</html>